<nav class="navbar">
  <div class="logo">
    <img src="../Assets/Images/logo2.png" alt="MyBrand Logo">
  </div>

  <div class="toggle-btn">
    <span class="one"></span>
    <span class="two"></span>
  </div>

  <div class="menu">
    <div class="data">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/aboutus.html">About Us</a></li>
        <li><a href="/index.html#events">Events</a></li>
        <li><a href="/index.html#masstiming">Mass Timing</a></li>
        <li><a href="/component/association.html">Associations</a></li>
        <li><a href="/component/ward.html">Wards</a></li>
        
        <!-- <li class="has-dropdown">
          <a href="#">Events</a>
          <ul class="dropdown">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">SEO</a></li>
          </ul>
        </li> -->
        
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
